@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.big-con {
    background-color: #1f2933;
    background-size: cover;
}

.main-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

.para {
    color: white;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
}

.small-con {
    background-color: #323f4b;
    padding: 20px;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.para1 {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 25px;
}

.para2 {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
}